<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="browser" value="Chrome"/>

		<add key="url" value="https://reportportal.epam.com/ui/#login"/>
		<add key="jsonLocation" value="TestData\prTestData.json"/>
		<add key="environment" value="QA"/>
		<add key="username" value="AxelCastruita"/>
	</appSettings>	
		
		
</configuration>